<ion-view hide-nav-bar="false" view-title="{{title}}" ng-controller="DriversCtrl">

  <ion-nav-title>
    <div class="browse-nav-title">
      {{title}}
      <i class="icon ion-clock punch-clock" ng-class="{'punched-in': isPunchedIn, 'punched-out': !isPunchedIn }"></i>
    </div>
  </ion-nav-title>

  <ion-content>
  	<div class="item item-divider tutorial-alert" ng-if="isTraining">Training Mode</div>
  	<div class="item item-divider tutorial-alert" ng-if="!isPunchedIn">Not Punched In</div>
  	<div class="item item-divider tutorial-alert" ng-if="isMissingTWSEmployeeId">Missing Paychex ID</div>

  	<div ng-if="!loading">
	  	<div ng-if="!currentUser.tutorialCompleted && !isTraining">
			  <ul class="list">
			    <li class="item">
						You must complete the training.
			    </li>
				</ul>

		  	<button class="button button-block button-balanced" style="margin-top:10px;" ng-click="doTutorial();">
		      Start Training
		    </button>
		  </div>

		  <div ng-if="currentUser.tutorialCompleted || isTraining">

		  	<div class="list">

				  <div class="item item-divider">
						Check schedule for your assigned truck.
				  </div>


				  <a class="item" ng-repeat="driver in drivers" href="#" ng-click="loginAsUser(driver);">
				    {{driver.name}}
				  </a>

				</div>
	  	</div>
	  </div>
	</ion-content>
</ion-view>
