<ion-view hide-nav-bar="false" view-title="Finalize {{invoice.name}}" cache-view="false" ng-controller="FinalizeInvoiceCtrl">
	<style>
		.invoicePic {
		  height: 200px;
		  width: auto;
		  margin: 2px;
		}

		item-note {
			color : #000;
		}

	</style>
  <ion-nav-title>
    <div class="browse-nav-title">
      Finalize Invoice
      <i class="icon ion-clock punch-clock" ng-class="{'punched-in': isPunchedIn, 'punched-out': !isPunchedIn }"></i>
    </div>
  </ion-nav-title>

  <ion-content class="has-header has-footer has-subfooter">
	  <div class="item item-divider tutorial-alert" ng-if="isTraining">Training Mode</div>
  	<div class="item item-divider tutorial-alert" ng-if="!isPunchedIn">Not Punched In</div>



  	<div class="list">
  		<div class="item item-divider" ng-if="order && order.shippingUnits > 0">
		    Shipping
		  </div>
	  	<a class="item" href="#" ng-if="order && order.shippingUnits > 0">
	    	Shipping Items
	    	<span class="item-note">
	     	{{order.shippingUnits}}
	    	</span>
	  	</a>

		  <div class="item item-divider">
		    Storage Invoice Items ({{total_item_count}})
		  </div>
	  	<a class="item" href="#" ng-repeat="item in items">
	    	{{item.product_name}}
	    	<span class="item-note">
	     	{{item.quantity}}
	    	</span>
	  	</a>

	  	<div class="item item-divider" ng-if="added_services.length > 0">
		    Added Services ({{total_added_services_count}})
		  </div>
	  	<a class="item" href="#" ng-if="added_services.length > 0" ng-repeat="item in added_services">
	    	{{item.product_name}}
	    	<span class="item-note">
	     	{{item.quantity}}
	    	</span>
	  	</a>
		</div>

		<ion-scroll zooming="true" direction="x" style="height: 200px; overflow-x: scroll; white-space: nowrap;" ng-if="invoice && invoice.imageURLs && invoice.imageURLs.length > 0">
		  <img ng-repeat="imageURL in invoice.imageURLs" ng-src="{{imageURL}}" class="invoicePic" >
		</ion-scroll>

  </ion-content>

  <div class="bar bar-subfooter bar-energized" ng-click="uploadImage();">
	  <div class="title">Take Images</div>
	</div>
  <div class="bar bar-footer bar-balanced" ng-click="saveInvoice();">
	  <div class="title">Finalize Invoice</div>
	</div>
</ion-view>
