<ion-view hide-nav-bar="false" ng-controller="InvoiceCtrl">
	<style>
		.invoicePic {
		  height: 200px;
		  width: auto;
		  margin: 2px;
		} 

		.list .item.item-accordion {
		  line-height: 38px;
		  padding-top: 0;
		  padding-bottom: 0;
		  transition: 0.09s all linear;
		}
		.list .item.item-accordion.ng-hide {
		  line-height: 0px;
		}
		.list .item.item-accordion.ng-hide-add,
		.list .item.item-accordion.ng-hide-remove {
		  display: block !important;
		}
	</style>

  <ion-nav-title>
    <div class="browse-nav-title"> 
      {{invoice.name}}
      <i class="icon ion-clock punch-clock" ng-class="{'punched-in': isPunchedIn, 'punched-out': !isPunchedIn }"></i>
    </div>
  </ion-nav-title>

  <ion-content class="has-header has-footer">
	  <div class="item item-divider tutorial-alert" ng-if="isTraining">Training Mode</div>
  	<div class="item item-divider tutorial-alert" ng-if="!isPunchedIn">Not Punched In</div>
  	<div class="item item-divider tutorial-alert" ng-if="isMissingTWSEmployeeId">Missing Paychex ID</div>

	  <div class="list"> 
	  	<!-- <div class="item item-divider" ng-if="order && order.shipping"> 
	  		Shipping: {{order.Shipping_All_or_Some}}
		  </div> -->

	  	<div class="item item-divider" ng-click="toggleShipping()" ng-class="{active: show_shipping}">
	  		<i class="icon" ng-class="show_shipping ? 'ion-minus' : 'ion-plus'"></i>
		    Shipping Items - ({{shipping_count}}) - {{order.Shipping_All_or_Some}} <span ng-if="order && order.shippingImageURLs && order.shippingImageURLs.length > 0">- Image Uploaded</span>
		  </div> 

		  <ion-item class="item-stable item-text-wrap" ng-if="show_shipping" style="background-color: yellow;">
        <strong>{{shipping_info_text}}</strong>
      </ion-item>

      <a class="item" href="#" ng-if="show_shipping">
        <div style="float: left;">
					Megaboxes
				</div>
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="incrementShipping(1, 'megaboxShippingUnits');" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">{{order.megaboxShippingUnits}}</span>
					<i class="icon ion-arrow-down-c" ng-click="incrementShipping(-1, 'megaboxShippingUnits');" style="padding: 10px;	font-size: 32px;"></i>
				</div>
      </a>

      <a class="item" href="#" ng-if="show_shipping">
        <div style="float: left;">
					Bins
				</div>
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="incrementShipping(1, 'binShippingUnits');" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">{{order.binShippingUnits}}</span>
					<i class="icon ion-arrow-down-c" ng-click="incrementShipping(-1, 'binShippingUnits');" style="padding: 10px;	font-size: 32px;"></i>
				</div>
      </a>

      <a class="item" href="#" ng-if="show_shipping">
        <div style="float: left;">
					Boxes
				</div>
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="incrementShipping(1, 'boxShippingUnits');" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">{{order.boxShippingUnits}}</span>
					<i class="icon ion-arrow-down-c" ng-click="incrementShipping(-1, 'boxShippingUnits');" style="padding: 10px;	font-size: 32px;"></i>
				</div>
      </a>

      <a class="item" href="#" ng-if="show_shipping">
        <div style="float: left;">
					Bags
				</div>
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="incrementShipping(1, 'bagShippingUnits');" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">{{order.bagShippingUnits}}</span>
					<i class="icon ion-arrow-down-c" ng-click="incrementShipping(-1, 'bagShippingUnits');" style="padding: 10px;	font-size: 32px;"></i>
				</div>
      </a>

      <a class="item" href="#" ng-if="show_shipping">
        <div style="float: left;">
					Luggage
				</div>
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="incrementShipping(1, 'luggageShippingUnits');" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">{{order.luggageShippingUnits}}</span>
					<i class="icon ion-arrow-down-c" ng-click="incrementShipping(-1, 'luggageShippingUnits');" style="padding: 10px;	font-size: 32px;"></i>
				</div>
      </a>


      <a class="item" href="#" ng-if="show_shipping">
        <div style="float: left;">
					Trunks
				</div>
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="incrementShipping(1, 'trunkShippingUnits');" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">{{order.trunkShippingUnits}}</span>
					<i class="icon ion-arrow-down-c" ng-click="incrementShipping(-1, 'trunkShippingUnits');" style="padding: 10px;	font-size: 32px;"></i>
				</div>
      </a>



		  <button ng-click="takeShippingPhoto()" class="button button-full button-energized" ng-if="shipping_count > 0">
			  Take Photo of Shipment Items 
			</button>

			<ion-scroll zooming="true" ng-if="order && order.shippingUnits > 0" direction="x" style="height: 200px; overflow-x: scroll; white-space: nowrap;" ng-if="invoice && invoice.imageURLs && invoice.imageURLs.length > 0">
			  <img ng-src="{{order.shippingImageURLs}}" class="invoicePic" >
			</ion-scroll>

		  <div class="item item-divider" ng-click="toggleStorage()" ng-class="{active: show_storage}">
	  		<i class="icon" ng-class="show_storage ? 'ion-minus' : 'ion-plus'"></i>
		    Storage Items - ({{total_count}})
		  </div>





			<a class="item" ng-repeat="product in products track by $index" ng-if="show_storage" href="#">
				<div style="float: left;">
					<div>
						{{product.name}}
					</div>
					<div>
						<label ng-if='(product.name == "Miscellaneous" || product.name == "Furniture") && product.invoice_count > 0' class="item item-input" style="width:85%; margin-top:8px;">
							<textarea ng-if='(product.name == "Miscellaneous")' placeholder="Miscellaneous Description" ng-init='product.misc_notes = ""' ng-model="product.misc_notes"></textarea>
							<textarea ng-if='(product.name == "Furniture")' placeholder="Furniture Description" ng-init='product.misc_notes = ""' ng-model="product.misc_notes"></textarea>
						</label>
					</div>
				</div>
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="incrementProduct($index, 1);" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">{{product.invoice_count}}</span>
					<i class="icon ion-arrow-down-c" ng-click="incrementProduct($index, -1);" style="padding: 10px;	font-size: 32px;"></i>
				</div>
		  </a>

		  <!-- <div class="item item-divider">
		    Added Services - ({{added_services_count}})
		  </div> -->

      <div class="item item-divider" ng-click="toggleAdditional()" ng-class="{active: show_additional}">
        <i class="icon" ng-class="show_additional ? 'ion-minus' : 'ion-plus'"></i>
        Added Services - ({{added_services_count}})
      </div> 


			<a class="item" ng-repeat="product in added_services track by $index" href="#" ng-if="show_additional">
				<div style="float: left;">
					{{product.name}}
				</div>
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="increment_added_services($index, 1);" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">{{product.invoice_count}}</span>
					<i class="icon ion-arrow-down-c" ng-click="increment_added_services($index, -1);" style="padding: 10px;	font-size: 32px;"></i>
				</div>
		  </a>


		</div>
  </ion-content>

  <div class="bar bar-footer bar-balanced" ng-click="takeImages();">
	  <div class="title">Save Invoice & Take Storage Images <i class="icon ion-camera"></i></div>
	</div>
</ion-view>
