<ion-view hide-nav-bar="false" view-title="Invoice {{invoice.name}}" ng-controller="InvoiceCtrl">
	<style>
		.invoicePic {
		  height: 200px;
		  width: auto;
		  margin: 2px;
		}

	</style>

  <ion-nav-title>
    <div class="browse-nav-title">Invoice</div>
  </ion-nav-title>
  
  <ion-content class="has-header has-footer">
	  <div class="item item-divider tutorial-alert" ng-if="isTraining">Training Mode</div>
	
	  <div class="list">
	  	<div class="item item-divider">
		    Shipping Items - ({{shipping_count}}) <span ng-if="order && order.shippingImageURLs && order.shippingImageURLs.length > 0">- Image Uploaded</span>
		  </div>
			<a class="item item-icon-right" href="#">
		    Shipping
		    
		    <i class="icon ion-arrow-up-c" ng-click="incrementShipping(1);" style="right: 45px;">{{shipping_count}}</i>
		    <i class="icon ion-arrow-down-c" ng-click="incrementShipping(-1);"></i>
		  </a>

		  <button ng-click="takeShippingPhoto()" class="button button-full button-energized" ng-if="shipping_count > 0">
			  Take Photo of Shipment Items
			</button>

			<ion-scroll zooming="true" ng-if="order && order.shippingUnits > 0" direction="x" style="height: 200px; overflow-x: scroll; white-space: nowrap;" ng-if="invoice && invoice.imageURLs && invoice.imageURLs.length > 0">
			  <img ng-src="{{order.shippingImageURLs}}" class="invoicePic" >
			</ion-scroll>

		  <div class="item item-divider">
		    Storage Items - ({{total_count}})
		  </div>


			<a class="item item-icon-right" ng-repeat="product in products track by $index" href="#">
		    {{product.name}}
		    
		    <i class="icon ion-arrow-up-c" ng-click="incrementProduct($index, 1);" style="right: 45px;">{{product.invoice_count}}</i>
		    
		    <i class="icon ion-arrow-down-c" ng-click="incrementProduct($index, -1);"></i>
		    <label ng-if='(product.name == "Miscellaneous" || product.name == "Furniture") && product.invoice_count > 0' class="item item-input" style="width:85%; margin-top:8px;">
		  		<textarea ng-if='(product.name == "Miscellaneous")' placeholder="Miscellaneous Description" ng-init='product.misc_notes = ""' ng-model="product.misc_notes"></textarea>

		  		<textarea ng-if='(product.name == "Furniture")' placeholder="Furniture Description" ng-init='product.misc_notes = ""' ng-model="product.misc_notes"></textarea>

		 		</label>
		  </a>

		  <div class="item item-divider">
		    Added Services - ({{added_services_count}})
		  </div>


			<a class="item item-icon-right" ng-repeat="product in added_services track by $index" href="#">
		    {{product.name}}
		    
		    <i class="icon ion-arrow-up-c" ng-click="increment_added_services($index, 1);" style="right: 45px;">{{product.invoice_count}}</i>
		    <i class="icon ion-arrow-down-c" ng-click="increment_added_services($index, -1);"></i>
		  </a>


		</div>		
  </ion-content>

  <div class="bar bar-footer bar-balanced" ng-click="takeImages();">
	  <div class="title">Save Invoice & Take Storage Images <i class="icon ion-camera"></i></div>
	</div>
</ion-view>
