<ion-view hide-nav-bar="false" view-title="Load Order" cache-view="false" ng-controller="LoadOrderCtrl">
	<style>
		.invoicePic {
		  height: 200px;
		  width: auto;
		  margin: 2px;
		}
	</style>

  <ion-nav-title>
    <div class="browse-nav-title">
      Load Order
      <i class="icon ion-clock punch-clock" ng-class="{'punched-in': isPunchedIn, 'punched-out': !isPunchedIn }"></i>
    </div>
  </ion-nav-title>

  <ion-content class="has-header">
  	<div class="item item-divider tutorial-alert" ng-if="isTraining">Training Mode</div>
  	<div class="item item-divider tutorial-alert" ng-if="!isPunchedIn">Not Punched In</div>
  	<div class="item item-divider tutorial-alert" ng-if="isMissingTWSEmployeeId">Missing Paychex ID</div>

  	<div class="item item-divider" style="background-color: #f00; color: #fff; text-align: 'center'; height: 40px;">
	    Warehouse Role as {{user.nickname}}
	  </div>
  	<div class="list">
			<label class="item item-input item-select">
		    <div class="input-label">
		      Order Status
		    </div>
		    <select ng-change="sendUpdate()" ng-model="order.warehouseStatus">
		    	<option ng-repeat="stage in orderUpdates" ng-selected="order.warehouseStatus == stage.warehouseStatus">{{stage.warehouseStatus}}</option>
		    </select>
		  </label>

		  <label class="item item-input">
		  	<textarea placeholder="Order Notes" ng-model="order.warehouse_notes" style="height:100px;"></textarea>
		 	</label>

		 	<button ng-click="sendUpdate()" class="button button-full button-positive">
			  Save Notes
			</button>

		  <a class="item" href="#">Name - {{order.name}} ({{order.customerId}})</a>
		  <a class="item" href="#">School - {{ order.account.name }} </a>
		  <a class="item" href="#">Warehouse Location - {{ pickup.warehouseLocation }} </a>


		  <div class="item item-divider">
		    Invoice Details ({{total_invoice_items}} items)
		  </div>
		  <a class="item" href="#" ng-repeat="item in invoice.items">
		    {{item.quantity}} - {{item.product_name}}
		  </a>
		  <ion-scroll zooming="true" direction="x" style="height: 200px; overflow-x: scroll; white-space: nowrap;" ng-if="invoice && invoice.imageURLs && invoice.imageURLs.length > 0">
			  <img ng-repeat="imageURL in invoice.imageURLs" ng-src="{{imageURL}}" class="invoicePic" >
			</ion-scroll>

	    <div class="item item-divider">Order Details</div>

	    <a class="item item-text-wrap">Delivery Date - {{ order.deliveryDate | amDateFormat:'dddd, MMMM Do'}}</a>
	    <a class="item item-text-wrap" href="#">Needs Shipping? - {{order.shipping}}</a>
	    <a class="item item-text-wrap" ng-if="order.type == 'Delivery'" href="#">Dropoff Permission - {{order.dropoffPermissions}}</a>





		</div>

		<div ng-if="invoiceURL">
			<ion-scroll zooming="true" direction="xy" ng-if="invoiceURL" style="width: 500px; height: 500px">
				<iframe ng-src="{{invoiceURL}}"></iframe>
			</ion-scroll>
		</div>
  </ion-content>

</ion-view>
