<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="left-menu">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Storage Squad ({{version}})</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <div class="item item-divider" style="height:30px;">
          Driver
        </div>
        <ion-item menu-close href="#/app/orders">
          <i class="icon ion-map"></i> Today's Schedule
        </ion-item>


        <ion-item menu-close href="#/app/lookup">
          <i class="icon ion-search"></i> Customer Lookup
        </ion-item>

        <div class="item item-divider" style="height:30px;">
          Warehouse
        </div>

        <ion-item menu-close href="#/app/warehouse">
          <i class="icon ion-home"></i> Switch To Warehouse
        </ion-item>

        <div class="item item-divider" ng-if="isSandbox" style="height:30px;">
          Training
        </div>

        <ion-item menu-close ng-if="isSandbox" href="#/app/invoice/a064C000000IGlPQAW">
          Invoice Tester
        </ion-item>

        <div class="item item-divider" style="height:30px;">
          Account
        </div>
        <ion-item menu-close href="#" ng-click="logout();">
        
          <i class="icon ion-reply"></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
