<ion-side-menus enable-menu-with-back-views="false">
  <style>
    .item-divider {
      padding-top: 4px !important;
      font-size: 14px !important;
      height: 26px !important;
    }
  </style>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="left-menu">

    <ion-header-bar class="bar-dark">
      <h1 class="title" ng-if="mover && !mover.tutorialCompleted">Complete Training</h1>

      <h1 class="title" ng-if="user && (mover && mover.tutorialCompleted)">Logged in as {{user.nickname}}</h1>
      <h1 class="title" ng-if="!user && (mover && mover.tutorialCompleted)">Storage Squad</h1>

    </ion-header-bar>

    <ion-content>
      <div class="item item-divider tutorial-alert" ng-if="isTraining">Training Mode</div>

      <ion-list>
        <div class="item item-divider">
          Truck
        </div>

        <ion-item menu-close ui-sref="app.drivers">
          <i class="icon ion-android-bus"></i> Start Driving
        </ion-item>

        <div ng-if="mover && !mover.tutorialCompleted">
          <ion-item  ng-click="displayTrainingMessage();">
            <i class="icon ion-ios-box-outline"></i> Supply Handouts
          </ion-item>
          

          <div class="item item-divider">
            Warehouse Crew
          </div>

          
          <ion-item  ng-click="displayTrainingMessage();">
            <i class="icon ion-cube"></i> Load Truck
          </ion-item>

          <ion-item  ng-click="displayTrainingMessage();">
            <i class="icon ion-briefcase"></i> Unload Truck
          </ion-item>

          <ion-item  ng-click="displayTrainingMessage();">
            <i class="icon ion-clipboard"></i> Shipping
          </ion-item>


          <div class="item item-divider">
            Customer Lookup
          </div>



          <ion-item  ng-click="displayTrainingMessage();">
            <i class="icon ion-search"></i> Search Customers
          </ion-item>



          <div class="item item-divider">
            Account
          </div>

          <ion-item menu-close href="#" ng-click="logout();">
            <i class="icon ion-reply"></i>
            Logout
          </ion-item>

          <ion-item id="punchIn" ng-click="displayTrainingMessage();">
            <i class="icon ion-clock"></i>
            <span>Punch In</span>
          </ion-item>
          <ion-item id="punchOut" ng-click="displayTrainingMessage();">
            <i class="icon ion-clock"></i>
            <span>Punch Out</span>
          </ion-item>

          <ion-item ng-if="!isMissingTWSEmployeeId" ng-click="displayTrainingMessage();">
            <i class="icon ion-calendar"></i> Time Cards
          </ion-item>
        </div>








        <div ng-if="mover && mover.tutorialCompleted">
          <ion-item menu-close ui-sref="app.supplies-lookup">
            <i class="icon ion-ios-box-outline"></i> Supply Handouts
          </ion-item>
          

          <div class="item item-divider">
            Warehouse Crew
          </div>

          
          <ion-item menu-close ui-sref="app.warehouse">
            <i class="icon ion-cube"></i> Load Truck
          </ion-item>

          <ion-item menu-close ui-sref="app.load_truck">
            <i class="icon ion-briefcase"></i> Unload Truck
          </ion-item>

          <ion-item menu-close ui-sref="app.shipping-today">
            <i class="icon ion-clipboard"></i> Shipping
          </ion-item>


          <div class="item item-divider">
            Customer Lookup
          </div>



          <ion-item menu-close ui-sref="app.lookup">
            <i class="icon ion-search"></i> Search Customers
          </ion-item>



          <div class="item item-divider">
            Account
          </div>

          <ion-item menu-close href="#" ng-click="logout();">
            <i class="icon ion-reply"></i>
            Logout
          </ion-item>

          <ion-item id="punchIn" ng-if="!isPunchedIn && !isMissingTWSEmployeeId" href="#" ng-click="createPunch(true);">
            <i class="icon ion-clock"></i>
            <span>Punch In</span>
          </ion-item>
          <ion-item id="punchOut" ng-if="isPunchedIn && !isMissingTWSEmployeeId" href="#" ng-click="createPunch(false)">
            <i class="icon ion-clock"></i>
            <span>Punch Out</span>
          </ion-item>

          <ion-item menu-close ui-sref="app.time_cards" ng-if="!isMissingTWSEmployeeId">
            <i class="icon ion-calendar"></i> Time Cards
          </ion-item>
        </div>
      </ion-list>
    </ion-content>

    <div class="bar bar-footer">
      <div class="title">Storage Squad ({{version}})</div>
    </div>
  </ion-side-menu>
</ion-side-menus>
