<ion-view view-title="Missing Items" ng-controller="MissingItemsCtrl">
<style>
	.truck-status {
		background-color: transparent !important;
	}

	.item-select select {
		color : #fff !important;
	}

	.item-select select {
		color: #fff !important;
		font-weight: 900 !important;
	}
	ul {
    list-style-type: circle;
	}
	li {
		padding-left: 16px;
	}
	a.today-item {
		padding: 16px !important;
		padding-bottom: 8px !important;
		padding-top: 8px !important;
	}

	.item-note {
		color : #000;
	}

	.item-icon-left .icon, .item-icon-right .icon {
    font-size: 22px;
	}

</style>

	<ion-nav-back-button>
  </ion-nav-back-button>

  <ion-nav-title>
    <div class="browse-nav-title">
      Missing Items
      <i class="icon ion-clock punch-clock" ng-class="{'punched-in': isPunchedIn, 'punched-out': !isPunchedIn }"></i>
    </div>
  </ion-nav-title>

  <ion-content class="has-header">
  	<div class="item item-divider tutorial-alert" ng-if="isTraining">Training Mode</div>
  	<div class="item item-divider tutorial-alert" ng-if="!isPunchedIn">Not Punched In</div>
    <div class="item item-divider tutorial-alert" ng-if="isMissingTWSEmployeeId">Missing Paychex ID</div>

	  <div class="list" ng-repeat="invoice in invoices" ng-if="invoice.status == 'Paid'">

	  	<div class="item item-divider">Items In Storage</div>


		  <a class="item today-item" ng-repeat="item in invoice.items" ng-if="item.type == 'Storage Goods' && item.warehouseStatus != 'Delivered'">
				<div style="float: left;">
					{{item.product_display_name}} • {{item.quantity}}
				</div>
	      	<!-- <select ng-click="$event.preventDefault();" class="item-select" style="float:right;" ng-change="setOrderStatus(appointment)" ng-model="item.warehouseStatus">
			    	<option ng-repeat="stage in itemUpdates" ng-selected="item.warehouseStatus == stage.warehouseStatus">{{stage.warehouseStatus}}</option>
			    </select> -->
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="increment_count(item);" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">missing {{item.missing_count}} of {{item.quantity}}</span>
		    	<i class="icon ion-arrow-down-c" ng-click="decrement_count(item);" style="padding: 10px;	font-size: 32px;"></i>					
				</div>
	    </a>

      <div class="item item-divider">
        Missing Description
      </div>
      <textarea placeholder="Missing Description" ng-if="missing_count > 0" ng-model="delivery.missingItemNote" style="height:80px;" maxlength="255"></textarea>


	    <div class="item item-divider" ng-if="deliveredCount > 0">Delivered Items</div>
	    <a class="item today-item" ng-repeat="item in invoice.items" ng-if="item.type == 'Storage Goods' && item.warehouseStatus == 'Delivered'">
	      <h2>{{item.product_display_name}} • {{item.quantity}}</h2>
	    </a>
		</div>

    <div class="item item-divider">Original Order Image(s)</div>
		<ion-gallery ion-gallery-items="images"></ion-gallery>
	</ion-content>

	<div class="bar bar-footer bar-balanced" ng-click="saveInvoice();">
	  <div class="title">Save Missing Item(s)</div>
	</div>
</ion-view>
