<ion-view hide-nav-bar="false" view-title="Order" cache-view="false" ng-controller="OrderCtrl">

	<style>
		.item-select select {
			color : #000 !important;
		}
	</style>

	<style>
		.invoicePic {
		  height: 200px;
		  width: auto;
		  margin: 2px;
		}

		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	color:    #aaaaaa !important;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    #aaaaaa;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    #aaaaaa;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    #aaaaaa;
		}
	</style>

	<ion-nav-back-button>
  </ion-nav-back-button>

  <ion-nav-title>
    <div class="browse-nav-title">{{order.name}}</div>
  </ion-nav-title>

  <ion-content class="has-header">
  	<div class="item item-divider tutorial-alert" ng-if="isTraining">Training Mode</div>

  	<div class="list">


			<label class="item item-input item-select" ng-if="order.status != 'Complete'">
		    <div class="input-label">
		      Missed Appointment?
		    </div>
		    <select ng-model="order.status" ng-change="changeStatus();">
		    	<option style='color: black !important;' ng-repeat="stage in orderUpdates" ng-selected="order.status == stage.status">{{stage.status}}</option>
		    </select>
		  </label>

		  <label class="item item-input">
		  	<textarea placeholder="Order Notes" ng-model="order.notes" style="height:100px;"></textarea>
		 	</label>

		 	<button ng-click="sendUpdate()" class="button button-full button-positive" ng-if="order.status == 'No Answer' || order.status == 'Rescheduled' || order.status == 'Canceled'">
			  Save Notes
			</button>

			<button ng-click="completeInvoice()" ng-if="order.type == 'Pickup' && order.status != 'Canceled' && order.status != 'Rescheduled' && order.status != 'No Answer'" class="button button-full button-calm">
			  Build / Edit Invoice
			</button>

		  <a class="item item-text-wrap" href="#" ng-if="order.management_notes">Management Notes: {{order.management_notes}}</a>

		  <div class="item item-divider" ng-if="order.type == 'Delivery'">Items you're delivering...</div>
	    <a class="item" ng-repeat="item in invoice_items" ng-if="item.warehouseStatus == 'Loaded'" style="padding-top: 4px; padding-bottom: 4px;">
	    	<h2>{{item.product_display_name}} • {{item.quantity}} </h2>
	    </a>

	    <div class="item item-divider" ng-if="order.type == 'Delivery'">Delivered Items</div>
	    <a class="item" ng-repeat="item in invoice_items" ng-if="item.warehouseStatus == 'Delivered'" style="padding-top: 4px; padding-bottom: 4px;">
	    	<h2>{{item.product_display_name}} • {{item.quantity}}</h2>
	    </a>


		  <div class="item item-divider" ng-if="order.type == 'Delivery' && order.warehouseStatus == 'Partially Loaded'">Items remaining in storage...</div>
	    <a class="item" ng-repeat="item in invoice_items" ng-if="item.warehouseStatus != 'Loaded' && item.warehouseStatus != 'Delivered'" style="padding-top: 4px; padding-bottom: 4px;">
	    	<h2>{{item.product_display_name}} <span ng-if="item.missing_count > 0"> • {{item.missing_count}} missing</span> - {{item.quantity}} total</h2>
	    	<p>{{item.warehouseStatus}}</p>
	    </a>

	    <ion-gallery ion-gallery-items="images"></ion-gallery>



		  <div class="item item-divider">Contact: {{order.name}} ({{order.customerId}})</div>
		  <a class="item item-icon-left" href="tel:{{order.friendPhone}}" ng-if="order.friendPhone" href="#">
	    	<i class="icon ion-ios-telephone"></i>
	    	Friend Phone: <strong>{{order.friendPhone}}</strong>
	    </a>

	    <a class="item item-icon-left" href="tel:{{order.phone}}" href="#">
	    	<i class="icon ion-ios-telephone"></i>
	    	Call: {{ formatNumber(order.phone)}}
	    </a>
	    <a class="item item-icon-left" href="sms:{{messagePhone}}" href="#">
	    <i class="icon ion-chatbubbles"></i>
	    	Text: {{ formatNumber(messagePhone)}}
	    </a>
	    <a class="item item-icon-left" href="tel:{{order.altPhone}}" href="#">
	    	<i class="icon ion-ios-telephone"></i>
	    	Alt Phone: {{order.altPhone}}
	    </a>

	    <a class="item item-icon-left" href="#">
	    	<i class="icon ion-email"></i>
	    	Email: {{order.email}}
	    </a>


	    <div class="item item-divider">Location</div>
	    <a class="item item-icon-left" href="#" ng-click="openInGoogleMaps()">
	    	<i class="icon ion-map"></i>
	    	Open In Google Maps
	    </a>
	    <a class="item item-text-wrap" href="#">Address: {{order.address}}</a>
	    <a class="item item-text-wrap" href="#">Room Number: {{order.roomNumber}}</a>
	    <a class="item item-text-wrap" href="#">Building: {{order.building}}</a>


	    <div class="item item-divider">Order Details</div>


	    <a class="item item-text-wrap" href="#">Appointment Time: {{order.deliveryTime}}</a>

	    <a class="item item-text-wrap" href="#" ng-if="order.serviceType.indexOf('Main Entrance') != -1">Service Type: Main Entrance</a>

	    <a class="item item-text-wrap" href="#" ng-if="order.serviceType.indexOf('Room Service') != -1">Service Type: Room Service</a>


	    <a class="item item-icon-left" href="#" ng-if="order.guartanteedPickup">
	    	<i class="icon ion-checkmark-circled"></i>
	    	Guaranteed Pickup
	    </a>

	    <a class="item item-icon-left" href="#" ng-if="order.shipping">
	    	<i class="icon ion-checkmark-circled"></i>
	    	Needs Shipping
	    </a>
	    <a class="item item-text-wrap" ng-if="order.type == 'Delivery'" href="#">Dropoff Permission: {{order.dropoffPermissions}}</a>
	    <a class="item item-text-wrap" ng-if="order.hasInsurace" href="#">Declared Value: {{order.insuranceUnits}}</a>
		</div>
  </ion-content>
</ion-view>
