<ion-view hide-nav-bar="false" cache-view="false" ng-controller="OrderSummaryCtrl">
	<style>
		.invoicePic {
		  height: 200px;
		  width: auto;
		  margin: 2px;
		}

		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	color:    #aaaaaa !important;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    #aaaaaa;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    #aaaaaa;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    #aaaaaa;
		}
    .invoice-image-wrapper {
      padding: 5px;
    }

    .invoice-image {
      padding: 1px;
      display: inline;
    }

    .invoice-image img {
      width: 30%;
    }
    .close:before {
      content: '✕';
    }
    .close {
      position: relative;
      bottom: 5px;
      left: 27%;
      cursor: pointer;
      color: white;
      display: inline-block;
      width: 0;
    }
	</style>

  <ion-nav-title>
    <div class="browse-nav-title">
      {{pickup.name}}
      <i class="icon ion-clock punch-clock" ng-class="{'punched-in': isPunchedIn, 'punched-out': !isPunchedIn }"></i>
    </div>
  </ion-nav-title>

  <ion-content class="has-header">

  	<div class="item item-divider tutorial-alert" ng-if="isTraining">Training Mode</div>
  	<div class="item item-divider tutorial-alert" ng-if="!isPunchedIn">Not Punched In</div>
    <div class="item item-divider tutorial-alert" ng-if="isMissingTWSEmployeeId">Missing Paychex ID</div>

  	<div class="list">
  		<div class="item item-divider" ng-if="pickup && pickup.warehouseLocation && !delivery.warehouseLocation">
		    {{pickup.name}} • {{pickup.customerId}} • {{pickup.warehouseLocation}}
		  </div>

		  <div class="item item-divider" ng-if="delivery && delivery.warehouseLocation">
		    {{pickup.name}} • {{pickup.customerId}} • {{delivery.warehouseLocation}}
		  </div>
		  <div class="item item-text-wrap">
		    {{pickup.name}} • {{pickup.school}} • {{pickup.pickupSeason}}
		  </div>

		  <div class="item item-divider">
		    Warehouse Details
		  </div>


		  <label class="item item-input" ng-if="pickup">
		    <span class="input-label">WH Location </span>
		    <input type="text" placeholder="Enter WH Location" ng-model="pickup.warehouseLocation">
		  </label>

		  <label class="item item-input">
		    <span class="input-label">WH Notes </span>
		    <input type="text" placeholder="Enter WH Notes" ng-model="delivery.warehouse_notes">
		  </label>

		  <button class="button button-full button-royal" ng-click="saveNotes();">
			  Save Warehouse Info
			</button>

		  <div class="item item-divider">
		    Storage Invoice Details ({{total_invoice_items}} items)
		  </div>
		  <a class="item" href="#" ng-repeat="item in invoice.items">
		    {{item.quantity}} • {{item.product_name}}
		  </a>


      <div class="invoice-image-wrapper">
        <div class="invoice-image" ng-repeat="imageURL in invoice.imageURLs" ng-click="imageClicked(imageURL['src'])">
          <span class="close"></span>
          <img src="{{imageURL['src']}}" />
        </div>
      </div>

		  <button class="button button-full button-royal" ng-if="invoice && invoice.status != 'Paid'" ng-click="editInvoice();">
			  Edit Storage Invoice
			</button>

			<div ng-if="pickup && pickup.shippingUnits > 0">
				<div class="item item-divider">
				  Shipping Invoice Details ({{pickup.shippingUnits}} item<span ng-if="pickup.shippingUnits > 1">s</span>)
			  </div>
			</div>

		  <div class="item item-divider">
		    Other Info
		  </div>

		  <a class="item" href="tel:{{pickup.phone}}" href="#">
		    Phone - {{pickup.phone}}
		  </a>

		  <a class="item" href="#">
		    Pickup Date - {{formatDate(pickup.deliveryDate)}}
		  </a>
		  <a class="item" href="#">
		    Pickup Status - {{pickup.status}}
		  </a>

		  <a class="item" href="#">
		    Delivery Date - {{formatDate(delivery.deliveryDate)}}
		  </a>
		  <a class="item" href="#">
		    Delivery Status - {{delivery.status}}
		  </a>
		</div>

		  <button class="button button-full button-royal" ng-click="createLabels();">
			  Create Shipping Labels
		  </button>

  </ion-content>


</ion-view>
