<ion-view view-title="Dispatch" ng-controller="PastDispatchCtrl">
	<ion-nav-back-button>
      </ion-nav-back-button>
  <ion-nav-title>
    <div class="browse-nav-title">{{ dispatch.dispatchDate | amDateFormat:'dddd, MMMM Do'}}</div>
  </ion-nav-title>

  <ion-content>
  	<div class="list" ng-if="!dispatch">
			<div class="item item-divider">
		    Summary
		  </div>
		  <div class="item item-body">
				<p>There are no orders today.</p>
			</div>
		</div>

		<div class="list" ng-if="dispatch._id">
			<div class="item item-divider">
		    Dispatch Summary <span ng-if="dispatch.orders">- ({{dispatch.orders.length}} orders)</span>
		  </div>

			<label class="item item-input item-select" ng-if="dispatch._id">
		    <div class="input-label">
		      Dispatch Status: {{dispatch.status}} on {{dispatch.dispatchDate}}
		    </div>
		  </label>
		</div>

    <div class="list" ng-if="dispatch._id && dispatch.orders.length > 0">

			<div class="item item-divider" ng-if="dispatch.orders.length > 0">
		    Appointments ({{dispatch.orders.length}})
		  </div>

		  <a class="item" ng-click="viewOrder(appointment);" ng-repeat="appointment in dispatch.orders track by $index">
	      <h2>{{appointment.name}} - {{appointment.deliveryTime}} - {{appointment.status}}</h2>
	      <p>
	      	{{ substringField(appointment.serviceType)}} - {{ appointment.phone }} -
		      <span ng-if="appointment.building">{{ substringField(appointment.building) }}</span>
		      <span ng-if="!appointment.building">{{ substringField(appointment.address) }}</span>
		    </p>
	    </a>
		</div>
	</ion-content>
</ion-view>
