<ion-view view-title="Future Dispatches" ng-controller="PastDispatchesCtrl">
  <ion-content>
  	<ion-refresher pulling-text="Pull to refresh your schedule..." on-refresh="getDispatches()"></ion-refresher>

  	<div class="list">
  	<div class="item item-divider tutorial-alert" ng-if="isTraining">Training Mode</div>

		  <a class="item" href="#/app/past_dispatch/{{dispatch._id}}" ng-repeat="dispatch in dispatches">
	      <h2>{{ dispatch.dispatchDate | amDateFormat:'dddd, MMMM Do'}} ({{dispatch.orders.length}} orders)</h2>
	    </a>
		</div>
	</ion-content>
</ion-view>
