<ion-view hide-nav-bar="false" view-title="{{order.name}}" ng-controller="SuppliesCtrl">
	<style>
		input[type="search"] {
			background-color: transparent !important;
			color: black !important;
			width: 100% !important;

		}

		input::-webkit-input-placeholder {
		  color: black ;
		}
		input:-moz-placeholder {
		  color: black ;
		}
		input:-ms-input-placeholder { /* IE10+ */
		  color: black ;
		}
		input[type="checkbox"] {
		  float: right;
		}
	</style>

  <ion-nav-title>
    <div class="browse-nav-title">
      {{order.name}}
      <i class="icon ion-clock punch-clock" ng-class="{'punched-in': isPunchedIn, 'punched-out': !isPunchedIn }"></i>
    </div>
  </ion-nav-title>

  <ion-content class="has-header has-footer">
  	<div class="item item-divider tutorial-alert" ng-if="isTraining">Training Mode</div>
  	<div class="item item-divider tutorial-alert" ng-if="!isPunchedIn">Not Punched In</div>
    <div class="item item-divider tutorial-alert" ng-if="isMissingTWSEmployeeId">Missing Paychex ID</div>

  	<div class="list">
  		<a class="item" href="#">
				<div style="float: left;">
					Megaboxes
				</div>
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="incrementField('megabox_count', 1);" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">{{order.megabox_count}}</span>
					<i class="icon ion-arrow-down-c" ng-click="incrementField('megabox_count', -1);" style="padding: 10px; font-size: 32px;"></i>
				</div>
		  </a>

		  <a class="item" href="#">
				<div style="float: left;">
					Mattress Bags
				</div>
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="incrementField('mattress_bag_count', 1);" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">{{order.mattress_bag_count}}</span>
					<i class="icon ion-arrow-down-c" ng-click="incrementField('mattress_bag_count', -1);" style="padding: 10px;	font-size: 32px;"></i>
				</div>
		  </a>

		  <a class="item" href="#">
				<div style="float: left;">
					Moving Blankets
				</div>
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="incrementField('moving_blanket_count', 1);" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">{{order.moving_blanket_count}}</span>
					<i class="icon ion-arrow-down-c" ng-click="incrementField('moving_blanket_count', -1);" style="padding: 10px;	font-size: 32px;"></i>
				</div>
		  </a>

		  <a class="item" href="#">
				<div style="float: left;">
					Declared Value ($5 per sticker)
				</div>
				<div style="top: 10px; position: absolute; right: 10px;">
					<i class="icon ion-arrow-up-c" ng-click="incrementField('insuranceUnits', 1);" style="padding: 10px;	font-size: 32px;"></i>
					<span style="font-size: 32px;">{{order.insuranceUnits}}</span>
					<i class="icon ion-arrow-down-c" ng-click="incrementField('insuranceUnits', -1);" style="padding: 10px;	font-size: 32px;"></i>
				</div>
		  </a>
		</div>

		<!-- <ul class="list">

		  <li class="item item-toggle">
		     Supplies Delivered?
		     <label class="toggle toggle-assertive">
		       <input type="checkbox" ng-model="order.supplies_delivered">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
		</ul>
 -->

  </ion-content>

  <div class="bar bar-footer bar-balanced " color="secondary" ng-click="saveSupplies();">
	  <div class="title">Finalize Supply Handout <i class="icon ion-ios-box"></i></div>
	</div>
</ion-view>
