<ion-view view-title="Time Cards" hide-nav-bar="false" ng-controller="TimeCardsController">
	<style>
		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	color:    #aaaaaa !important;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    #aaaaaa;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    #aaaaaa;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    #aaaaaa;
		}

    .item-info {
      padding: 6px;
      font-size: 16px;
      border-bottom: 1px solid #ddd;
    }

    .row-table .row {
      padding: 0;
      line-height: 34px;
    }

    .col {
      padding: 6px;
      border-left: 1px solid #eee;
      border-bottom: 1px solid #eee;
      text-align: center;
    }
    .col-header {
      padding: 0px;
      border: 1px solid #eee;
      text-align: center;
    }

    .col-header div {
      line-height: 34px;
    }

    .trash-input {
      padding: 6px;
      border-right: 1px solid #eee;
    }
    .error-wrapper {
      width: 100%;
      color: red;
      padding-top: 20px;
      text-align: center;
    }

    .pay-period-wrapper {
      padding: 0px 16px;
    }

    .pay-period-header {
      font-size: 16px !important;
      font-weight: 500;
      line-height: 48px;
    }

    .pay-periods {
    }

    .open-pay-period {
    }

    .pay-period-chevron {
      float: right;
    }
  </style>


  <ion-nav-title>
    <div class="browse-nav-title">
      Time Cards
      <i class="icon ion-clock punch-clock" ng-class="{'punched-in': isPunchedIn, 'punched-out': !isPunchedIn }"></i>
    </div>
  </ion-nav-title>

  <ion-content class="has-header">
  	<div class="item item-divider tutorial-alert" ng-if="!isPunchedIn">Not Punched In</div>
  	<div class="item item-divider tutorial-alert" ng-if="isMissingTWSEmployeeId">Missing Paychex ID</div>

    <button class="button button-full button-royal" ng-click="loadPunches();">
      Refresh
    </button>

    <div ng-if="isPaypal">
      <div ng-repeat="punch in punches">
          
        <div class="row-table">
          <div class="row">
            <div class="col col-50 col-header" ng-if="punch.isPunchIn">
              <div>Time In: {{formatDate(punch.createdAt)}} {{formatTime(punch.createdAt)}}</div>
            </div>
            <div class="col col-50 col-header" ng-if="!punch.isPunchIn">
              <div>Time Out: {{formatDate(punch.createdAt)}} {{formatTime(punch.createdAt)}} </div>
            </div>

            <div class="col col-50 col-header" ng-if="punch.isPaid">
              <div>Paid</div>
            </div>

            <div class="col col-50 col-header" ng-if="!punch.isPaid">
              <div>Not Paid</div>
            </div>
          </div>
          
        </div>
      </div>
    </div>




    <div ng-if="!isPaypal">

      <div ng-repeat="punch in punches">
          
        <div class="row-table">
          <div class="row">
            <div class="col col-50 col-header">
              <div>Time In: {{punch.InTime}}</div>
            </div>
            <div class="col col-50 col-header">
              <div>Time Out: {{punch.OutTime}} </div>
            </div>

            <!-- <div class="col col-50 col-header" ng-if="punch.isPaid">
              <div>Paid</div>
            </div>

            <div class="col col-50 col-header" ng-if="!punch.isPaid">
              <div>Not Paid</div>
            </div> -->
          </div>
          
        </div>
      </div>


      <!-- <div ng-repeat="payPeriodNumber in payPeriodNumbers">
        <div class="pay-period-wrapper item" ng-class="{'open-pay-period': payPeriodNumber == openPayPeriodNumber}">
          <div class="pay-period-header" ng-click="togglePayPeriod(payPeriodNumber)">
            {{ getStartDateOfPayPeriodNumber(payPeriodNumber) }} - {{ getEndDateOfPayPeriodNumber(payPeriodNumber) }}
            <i class="icon ion-chevron-right pay-period-chevron" ng-if="payPeriodNumber != openPayPeriodNumber"></i>
            <i class="icon ion-chevron-down pay-period-chevron" ng-if="payPeriodNumber == openPayPeriodNumber"></i>
          </div>
          <div ng-if="payPeriodNumber == openPayPeriodNumber" class="pay-periods">
            <div class="row-table">
              <div class="row">
                <div class="col col-25 col-header">
                  <div>Date</div>
                </div>
                <div class="col col-25 col-header">
                  <div>In</div>
                </div>
                <div class="col col-25 col-header">
                  <div>Out</div>
                </div>
                <div class="col col-25 col-header">
                  <div>Hours</div>
                </div>
              </div>
              <div class="row" ng-repeat="punch in groupedPunches[payPeriodNumber]">
                <div class="col col-25 col-input">
                  {{ punch.InTime ? formatDateWYear(punch.InTime) : (punch.OutTime ? formatDateWYear(punch.OutTime) : 'Missing') }}
                  
                </div>
                <div class="col col-25 col-input">
                  {{ punch.InTime ? formatTime(punch.InTime) : 'Missing' }}
                </div>
                <div class="col col-25 col-input">
                  {{ punch.OutTime ? formatTime(punch.OutTime) : 'Missing' }}
                </div>
                <div class="col col-25 col-input">
                  {{ formatHours(punch.RegularMinutes) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>

  </ion-content>


</ion-view>
