<ion-view view-title="Unload Truck" ng-controller="WarehouseLoadCtrl">

	<div class="bar bar-subheader bar-calm">

	  <label class="item item-input item-select track-status" style="background-color: transparent !important; border: none; padding: 0px !important; margin-left: 10px; color: #fff;" >
	    <div class="input-label" style="color: #fff;">
	      <strong>Truck To Unload</strong>
	    </div>
	    <select style="background-color: transparent !important; font-weight: bold; color: #fff !important;" ng-change="switch_truck()" ng-model="driverName">
	    	<option  ng-repeat="driver in drivers" ng-selected="driver._id == user._id">{{driver.name}}</option>
	    </select>
	  </label>
	</div>

  <ion-content class="has-header has-subheader">
  	<div class="item item-divider tutorial-alert" ng-if="isTraining">Training Mode</div>
  	<div class="item item-divider tutorial-alert" ng-if="!isPunchedIn">Not Punched In</div>

  	<div class="item item-body" ng-if="dispatch._id && completedOrders.length == 0">
  		<h1 style="text-align: center;"><i class="icon ion-thumbsup"></i></h1>
			<p>You have unloaded all your orders for the day!</p>
		</div>

		<div class="item item-body" ng-if="!dispatch._id && completedOrders.length == 0">
  		<h1 style="text-align: center;"><i class="icon ion-thumbsup"></i></h1>
			<p>This truck did not pick anyone up today.</p>
		</div>

  	<div class="list" ng-if="completedOrders.length > 0">
			<div class="item item-divider" ng-if="completedOrders.length > 0">
		    {{completedOrders.length}} Order<span ng-if="completedOrders.length > 1">s</span> to unload.
		  </div>


		  <ion-item ng-click="viewCompletedAppointment(appointment);" ng-repeat="appointment in completedOrders track by $index">
		    {{appointment.name}} <span ng-if="appointment.warehouseLocation">• {{appointment.warehouseLocation}}</span>
		  </ion-item>
		</div>

		<div class="list" ng-if="dispatch._id && warehousedOrders.length > 0 && dispatch.status != 'New'">
			<div class="item item-divider" ng-if="warehousedOrders.length > 0">
		    {{warehousedOrders.length}} Warehoused Order<span ng-if="warehousedOrders.length > 1">s</span>
		  </div>
		  <ion-item ng-click="viewCompletedAppointment(appointment);" ng-repeat="appointment in warehousedOrders track by $index">
		    {{appointment.name}} <span ng-if="appointment.warehouseLocation">• {{appointment.warehouseLocation}}</span>
		  </ion-item>
		</div>
	</ion-content>
</ion-view>
