<ion-view view-title="Warehouse" ng-controller="WarehouseCtrl">
  <ion-content>
		<div class="item item-divider" style="background-color: #f00; color: #fff; text-align: 'center'; height: 40px;">
	    Warehouse Role as {{user.nickname}}
	  </div>
  	<ion-refresher pulling-text="Pull to refresh your schedule..." on-refresh="getDispatches()"></ion-refresher>

  	<div class="list">
		  <a class="item" href="#/app/load_dispatch/{{dispatch._id}}" ng-repeat="dispatch in dispatches">
	      <h2>{{ displayDate(dispatch) }} ({{dispatch.warehouseStatus}} - {{dispatch.orders.length}} orders)</h2>
	    </a>
		</div>
	</ion-content>
</ion-view>
