/* Empty. Add your own CSS if you like */

.item-select-warehouse { 
  width: 100px !important;
  float:right;
}

/*.scroll-content {
  top: 108px !important;
}*/

/*.bar-subheader {
  top: 74px !important;
}

*/

/*ion-header-bar {
  height: 74px !important;
}*/
.header-item {
  padding-top: 10px;
}

.bar-footer { 
  height: 56px !important;
}


.loaded-icon {
  margin-right: 124px;
}

textarea {
  height:80px; 
  width: 100% !important;
}

.complete-icon {
  color : #0f0;
}

.tutorial-alert {
  background-color: #f00;
  color: #fff;
}